# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../../../:\Users\lapin\IdeaProjects\ext-systems\register-office\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
*.iml